body{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMqaXtAaqPGaoLu6OIVcMQ0MAN8S7N3LwQ1d20rRwTOI-ume3H");
}

.titlee {
	color: black;
	font-family: Georgia, Times;
	text-align: center;
	font-size: 35pt
}

div.transbox{
	background-color: #858585;
	filter: alpha(opacity=60);
	margin: 5%;
	opacity: 0.8;
}
